.primary-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px 8px 24px;
  border-radius: 4px;
  background: var(--primary-auth-btn-color);
  border-style: none;
  width: 188px;
  height: 44px;
  box-shadow: 0px 8px 16px 0px rgba(59, 138, 255, 0.25);
}

.primary-btn-text {
  color: var(--ffffff-bg-1, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  /* 28px */
}

.seconday-btn-cont {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 6px;
  border: 1px solid var(--neutral-40, #e0e0e0);
  background: var(--neutral-10, #fff);
}

.seconday-btn-text {
  display: flex;
  padding: 6px 16px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
}

.heading1 {
  color: var(--neutral-100, #0a0a0a);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.588px;
}

.primary-field-cont {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.primary-field {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--neutral-50, #c2c2c2);
  background: var(--neutral-10, #fff);
  display: flex;
  height: 44px;
  padding: 8px;
}

.primary-field-label {
  color: var(--neutral-100, #0a0a0a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.084px;
}

.multi-fields-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.section-heading {
  font-size: 17pt;
  line-height: 1.5;
  font-weight: 500;
  color: var(--secondary);
  font-family: "Inter";
}

/* === FONTS === */
.card-paragraph-font {
  font-size: larger;
}

.card-link-font {
  font-size: larger;
  text-decoration: underline;
}

/* === SPACING === */
.pl-1 {
  padding-left: 10px !important;
}

.pl-2 {
  padding-left: 20px !important;
}

.pl-3 {
  padding-left: 30px !important;
}

.pl-4 {
  padding-left: 40px !important;
}

.pl-5 {
  padding-left: 50px !important;
}

.pl-6 {
  padding-left: 60px !important;
}

.pl-7 {
  padding-left: 70px !important;
}

.pl-8 {
  padding-left: 80px !important;
}

.pr-1 {
  padding-right: 10px !important;
}

.pr-2 {
  padding-right: 20px !important;
}

.pr-3 {
  padding-right: 30px !important;
}

.pr-4 {
  padding-right: 40px !important;
}

.pr-5 {
  padding-right: 50px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.ml-2 {
  margin-left: 20px !important;
}

.ml-3 {
  margin-left: 30px !important;
}

.ml-4 {
  margin-left: 40px !important;
}

.ml-5 {
  margin-left: 50px !important;
}

.mr-1 {
  margin-left: 10px !important;
}

.mr-2 {
  margin-left: 20px !important;
}

.mr-3 {
  margin-left: 30px !important;
}

.mr-4 {
  margin-left: 40px !important;
}

.mr-5 {
  margin-left: 50px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-2-5 {
  margin-top: 24px !important;
}

.px-4-5 {
  padding-left: 24px;
  padding-right: 24px;
}

/* === DASHBOARD === */

/* Greeting box */

.greeting-message-box {
  font-weight: 700;
  font-size: 16px;
  color: rgb(39, 39, 39) !important;
  text-align: center;
  padding: 0.5rem 1rem !important;
  letter-spacing: -0.176px;
}

.greeting-message-box-card {
  /* margin-bottom: 2rem !important; */
  height: auto !important;
}

/* Tasks */

/* interactive box */
.interactive-section-box {
  background-color: var(--neutral-70, #ededed);
  border-radius: 7px;
}

.interactive-section-title {
  color: var(--primary-main, #000);
  font-size: small;
  font-weight: 600;
}

.interactive-section-subtitle {
  color: var(--primary-main, #000);
  font-size: small;
  padding: 5px 1.4rem 0 1.4rem;
}

.interactive-section-description {
  padding: 0 1.4rem 5px 1.4rem;
  font-size: small;
}

.section-title {
  color: var(--primary-main, #000);
  font-size: small;
  font-weight: 600;
}

/* notifications */
/* .notifications-title {
  color: var(--primary-main, var(--primary-btn-color));
  font-size: small;
  font-weight: 600;
} */
.task-notification-title {
  color: var(--neutral-100, #0a0a0a);
  font-size: 16px !important;
  font-weight: 700 !important;
}

.notifications-table {
  width: -webkit-fill-available;
  color: var(--neutral-100, #0a0a0a);
}

.notifications-table > thead > tr > th {
  background-color: var(--neutral-70, #ededed) !important;
}

/* Bottom Buttons */
.bottom-buttons {
  border-radius: 4px;
  box-shadow: 0px 4px 9px 0px rgba(24, 24, 24, 0.4);
  display: flex;
  width: 264px;
  height: 80px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
}

@media only screen and (max-width: 780px) {
  .bottom-buttons {
    width: 235px;
  }
}

.bottom-button-title {
  color: var(--ffffff-bg-1, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  /* 33.25px */
}

.bottom-btn-container {
  width: 33.33%;
}

/* === Profile === */
.profile-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fit-content {
  width: fit-content !important;
  max-width: 100%;
}

/* === Employees === */
.all-employees-table-index input[type="number"] {
  background: #f0f0f0 !important;
  color: #969ba0;
  width: 70px;
  border: 0;
  background-color: #f8f8f8;
  padding: 6px 0 6px 10px;
}

.dashboard-text {
  color: var(--neutral-100, #0a0a0a);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.34px;
}

.greeting {
  border-radius: 9px !important;
  background: var(--neutral-30, #ededed) !important;
}

.interactive-section {
  margin-top: 46px;
}

/* input field */
.inputField {
  max-width: 436px;
  min-height: 40px;
  padding: 8px 16px;
  /* border: 1px solid var(--3-a-57-e-8-primary, var(--primary-auth-btn-color)); */
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  /* Add border-radius property */
}

/* Sign Up input field */
.signupInputField {
  display: flex;
  width: 250px;
  height: 36px;
  padding: 8px 16px;
  align-items: center;
  gap: 227px;
  border-radius: 4px;
  /* border: 1px solid var(--3-a-57-e-8-primary, var(--primary-auth-btn-color)); */
  border: 1px solid #0a0a0a;
  background: var(--ffffff-bg-1, #fff);
}

/* Sign Up input field */
.sp-phone-input {
  align-items: center;
  gap: 227px;
  background-color: transparent;
}

.sp-phone-input-internal {
  display: flex;
  width: auto;
  height: 36px;
  padding: 8px 16px;
  align-items: center;
  gap: 227px;
  border-radius: 4px;
  border: none;
  background: transparent;
  margin-top: -10px;
}

@media only screen and (max-width: 576px) {
  .signupInputField {
    width: 300px;
    height: 44px;
  }
}

@media only screen and (max-width: 576px) {
  .sp-phone-input {
    width: auto;
    /* height: 44px; */
  }
}

.headings {
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.alert-heading {
  /* display: flex; */
  justify-content: left;
  font-size: 33px;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

.color {
  color: var(--primary-auth-btn-color);
}

.pointer {
  cursor: pointer;
}

.marginLeft {
  margin-left: 92px;
}

.reset-btn {
  margin-top: 48px !important;
  margin-bottom: 16px;
}

.txtInp-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.add-emp-modal-form {
  display: flex;
  flex-direction: column;
}

.add-emp-modal-innerCon {
  display: flex;
  justify-content: space-evenly;
}

.add-emp-input-cont {
  /* width: "100%", marginRight: 8, */
  width: 100%;
  /* margin-right: 8px; */
}

.add-emp-header {
  margin-top: 40px;
  margin-left: 24px;
}

.add-emp-save-btnCon {
  align-self: flex-end;
}

.add-emp-saveBtn {
  width: 100%;
  border-width: 0 !important;
  background: var(--light-primary-main, #1976d2) !important;
}

.search-max-width {
  max-width: 100%;
}

.ant-select-selector {
  border: none !important;
  width: 100% !important;
}

/* delete model */
.delete-icon {
  width: 17px;
  height: 20px;
  object-fit: contain;
}

.delete-btn {
  background-color: #d32f2f;
  font-size: 15px;
  border: 0px;
  color: #fff;
  padding: 8px 22px;
  border-radius: 4px;
}
.delete-btn2 {
  padding: 2px 8px;
}

.restore-btn {
  color: #fff !important;
  background-color: var(--primary-btn-color) !important;
}

.cancel-btn {
  border: 0px;
  color: #1976d2;
  font-size: 15px;
  background-color: #fff;
}

.lh-2 {
  line-height: 2px;
}

.d-emp-text {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.d-undo-text {
  font-size: 16px;
  color: #ef5350;
}

.f-16 {
  font-size: 16px;
}

.line-h-2 {
  line-height: 2;
}

/* Add and Update */
.heading-add-update {
  font-size: 20;
  font-weight: 600;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.85);
}

@media (max-width: 768px) {
  .report-table {
    width: 100vh !important;
  }
}

@media (max-width: 768px) {
  .dashboard-table {
    width: 100vh !important;
  }
}

.reports-logo {
  height: 50px;
  margin-bottom: 10px;
}
.archive {
  justify-content: center !important;
}
.eye-icons {
  position: absolute;
  top: -29.5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
}
.eye-icons-container {
  position: relative;
}

.max-width-227 .ant-select-selector {
  max-width: 227px;
}

.ant-select-dropdown {
  z-index: 1111 !important;
}

.back-btn {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.back-btn .icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 4px;
}
